.card-container{
    width: 100%;
    height: auto;
}

.card {
    width: auto;
    background: linear-gradient(125deg, rgba(7, 153, 7, 0.7) ,rgba(0, 0, 255, 0.7));
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 1rem;
    margin: 1rem 0;
    color: white;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 6px 10px #00000090;
    
}

.card p {
    background: none;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: sans-serif;
}

.deletebtn{
    margin-left: .5rem;
    padding: .5rem 1rem;
    border: 1px solid black;
    background: none;
    outline: none;
    transition:.2s ease-out ;
}

.deletebtn:hover{
    color: white;
    border: 1px solid white;
}
