@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@600&family=Lemon&display=swap');
.container{
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.container h2 {
    background: none;
    font-family: 'Lemon', serif;
    font-weight: 300;
    font-size: 2rem;
}