.container{
    width: auto;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}

.container h2 {
    background: none;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2rem;
}